

<input type="checkbox" id="menu">
<label for="menu" onclick></label>


<nav role="off-canvas">
    <a href="#" class="title icon_font">&#xe632</a>
    <ul>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>