<%highlight ||= nil%>

<div class='customer_history_page'>
  <%= render :partial => 'v2/shop_pages/edit/customer_history', :locals => {:shop => shop, :customer => @customer, :highlight => highlight}%>
</div>

