/.bundle
/db/*.sqlite3
/db/sphinx
/log
/doc/app
/tmp/
/.bundle\n
/uploads
/public/user_images
/public/tmp_upload
/public/map_images
/vendor/ruby
/vendor/assets
/pages
.*.swp
/public/assets
/public/sitemap*.xml.gz
.DS_Store
config/*.sphinx.conf 
.sass-cache

/bin/
config/database.yml
config/google_storage.yml
.gitsecret/keys/random_seed
!*.secret
diveboard_env