 <title>About Diveboard - Track, Share and Explore Scuba Diving</title>

<!-- FB Opengraph Tags -->

<meta property="og:title" content="Check out those amazing dives on Diveboard" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%=ROOT_URL%>" />
<meta property="og:image" content="<%="#{ROOT_URL}img/OG-thumb.png"%>" />
<meta property="og:description" content="Diveboard is a community website for scuba divers sharing their experiences. Track your dives, explore new destinations and share your passion" />
<meta property="og:site_name" content="Diveboard - Track, Share and Explore Scuba Diving" />
<meta property="fb:admins" content="680251975" />
<meta property="fb:admins" content="1077557400" />

<!-- END FB Opengraph Tags -->
