<div class="spot_top_menu_container">
  <div class="spot_top_menu"><h3>Spot admin:</h3></div>
  <div class="spot_top_menu"><a href="/admin/mod_spot" class="yellow_button">Spot Moderation</a></div>
  <div class="spot_top_menu"><a href="/admin/mod_history" class="yellow_button">Mod History</a></div>
</div>