<div id="affiliation">
  <table>
    <tr>
      <td><!--<img src="/img/footer/suunto-white.svg" alt="SUUNTO" />--></td>
      <td><!--<img src="/img/footer/scubapro-white.svg" alt="Scubapro" />--></td>
      <td><!--<img src="/img/footer/aqualung-white.svg" alt="Aqua Lung" />--></td>
    </tr>
  </table>
</div>
