 <title>Diveboard : <%= it("Track and share your scuba diving experiences - Explore new spots and destination", scope: ['settings', 'meta_tags']) %></title>
	<META NAME="Title" CONTENT="Diveboard : <%= it("Track and share your scuba diving experiences - Explore new spots and destinations", scope: ['settings', 'meta_tags']) %>">
	<meta name="description" content="<%= it("Diveboard is a scuba diving community enabling divers to track their dives through an online logbook, explore new spots and destinations and share their passion", scope: ['settings', 'meta_tags']) %>"/>
<!-- FB Opengraph Tags -->
<!-- This is a private page - no  tags here !!!-->

<!-- END FB Opengraph Tags -->
