<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diveboard Web Adaptive Design</title>
  <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="/styles/great.css" media="screen and (min-width: 981px)" />
  <link rel="stylesheet" type="text/css" href="/styles/medium.css" media="screen and (min-width: 481px) and (max-width: 980px)" />
  <link rel="stylesheet" type="text/css" href="/styles/mini.css" media="screen and (max-width: 480px)" />
 --></head>
<body>
<div class="blur"></div>
<div class="row">
  <div class="title">
        <div class="map_icon" ></div>
        <div class="feature_title"><h1>Featured Destination: Egypt</h1></div>
  </div>

    <div class='featured_panel'>
      <div class='weather_calendar'>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Jan</p></div><div class="temp"><p>12C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Feb</p></div><div class="temp"><p>15C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Mar</p></div><div class="temp"><p>16C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Apr</p></div><div class="temp"><p>18C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>May</p></div><div class="temp"><p>22C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Jun</p></div><div class="temp"><p>24C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Jul</p></div><div class="temp"><p>26C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Aug</p></div><div class="temp"><p>30C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Sep</p></div><div class="temp"><p>35C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Oct</p></div><div class="temp"><p>29C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Nov</p></div><div class="temp"><p>17C</p></div></div>
        <div class="month"><div class="checked"><p>X</p></div><div class="name"><p>Dec</p></div><div class="temp"><p>16C</p></div></div>
      </div>
      <div class='presentation'>
        <div class="descr">
          <h2>Diving in Egypt</h2>
          <p class='using_flexbox'>Using flexbox: </p>
          <p class='no_flexbox'>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up</p>
          <!-- This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. -->
        </div>
        <div class='thumb_container'>
          <div class="thumb_pic" style="background-image: url('/img/before_optim/turtle.jpg')"></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div class='thumb_pic' style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        </div>
      </div>
      <div class='cta_with_picture' style='background-image: url("/img/before_optim/turtle.jpg");'>
        <div class='cta'>
          <button class='yellow_button'>EXPLORE EGYPT</button>
          <div class='figures'>
            <div class='figure'><div>1.3k</div> divers</div>
            <div class='figure'><div>1.3k</div> divers</div>
            <div class='figure'><div>1.3k</div> divers</div>
          </div>
        </div>
      </div>
    </div>
</div>



<div class='content_updates' style='break: both;'>
  <div class='main_col'>

    <div class='blog_section'>
      <h2>FROM THE BLOG</h2>
      <div class='columns'>
        <div class='column' >
          <img class="col_pic" src='/images/wartslug.jpg'/>
          <div class='text_box' >
            <h3>Blog title</h3>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
          </div>
        </div>
        <div class='column'>
          <img class="col_pic" src='/images/idx3_photog.jpg'/>
          <div class='text_box' >
            <h3>Blog title</h3>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
          </div>
        </div>
        <div class='column'>
          <img class="col_pic" src='/images/wartslug.jpg'/>      
          <div class='text_box' >
            <h3>Blog title</h3>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
          </div>
        </div>
      </div>
      <button class='yellow_button'>WRITE AN ARTICLE</button>
      <button class='yellow_button'>READ MORE</button>
    </div>
  </div>



  <div class='feed_col'>
    <div class='questions white_box'>
      <h2>LATEST QUESTIONS</h2>
      <div class='columns'>
        <div class='column' >
          <div class="col_pic" >
            <img src="/images/19.jpg">
          </div>
          <div class='text_box' >
            <h3>KSSO</h3>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless unit</p>
          </div>
        </div>
        <div class='column'>
          <div class="col_pic">
            <img src='/images/pier3-old.jpg'>
          </div>
          <div class='text_box' >
            <h3>Pascal</h3>
            <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. .</p>
          </div>
        </div>
        <div class='column'>
          <div class="col_pic">
            <img src="/images/106.jpg">
          </div> 
          <div class='text_box' >
            <h3>Gonzalo</h3>
            <p>This defines the ability for a flex item to grow if necessary. It dictates what amount of the available space inside the flex container the item should take up.</p>
          </div>
        </div>
      </div>
    </div>

    <div class='photos white_box'>
      <h2>FEATURED PHOTOS</h2>
      <div class='nine_pic_block'>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/160px_animated.gif")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div class= "thumb_pic" style='background-image: url("/img/before_optim/turtle.jpg")'></div>
      </div>
    </div>
  </div>


  <br/>
</div>

<p style='margin-top: 200px;'>bottom</p>

</body>
</html>