<%= content_for :stylesheets do%>
	
<%end%>

<div id="dive_data">
  <div class="container" style="font-family:'Open Sans', sans-serif">
    <%= @country.wiki.data %>
  </div>
  <% if false %>
  <a class="grey_button" href="#">Advanced information</a>
  <% end %>
</div>