<div id="affiliation">
  <table>
    <tr>
      <td><img src="/img/home/PADI.png" alt="PADI"</td>
      <td><img src="/img/home/CMAS.png" alt="CMAS"</td>
      <td><img src="/img/home/mares.png" alt="Mares"</td>
    </tr>
  </table>
</div>