<html><head><meta http-equiv="refresh" content="0;url=<%=@redirect_url%>" /></head><body><script>
<%=render partial: 'layouts/trackers'%></script><a href='<%=@redirect_url%>'>Proceed</a></body></html>