



<div class="row">
    <table class="title"><tr>
    <td class="map_icon">&#xe631</td>
    <td class="feature_title"><h1>Featured Destination: Egypt</h1></td>
    </tr></table>


    <div class='featured_panel'>
      <div class='weather_calendar'>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
        <div class="month"><div>X</div><div>Jan</div><div>OK</div></div>
      </div>
      <div class='presentation'>
        <h2>Diving in Egypt</h2>
        <p class='using_flexbox'>Using flexbox</p>
        <p class='no_flexbox'>No flexbox</p>
        This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.

        <div class='thumb_container'>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
          <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        </div>

      </div>
      <div class='cta_with_picture' style='background-image: url("/img/before_optim/turtle.jpg")'>
        <div class='cta'>
          <button class='yellow_button'>EXPLORE EGYPT</button>
          <div class='figures'>
            <div><div class='figure'>1.3k</div> divers</div>
            <div><div class='figure'>1.3k</div> divers</div>
            <div><div class='figure'>1.3k</div> divers</div>
          </div>
      </div>
    </div>

</div>


<div class='content_updates' style='break: both; margin-top: 100px;'>



  <div class='main_col'>

    <div class='blog_section'>
      <h2>FROM THE BLOG</h2>
      <div class='columns'>
        <div class='column'>
          <h3>Blog title</h3>
          <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        </div>
        <div class='column'>
          <h3>Blog title</h3>
          <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        </div>
        <div class='column'>
          <h3>Blog title</h3>
          <p>This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        </div>
      </div>
    </div>

  </div>



  <div class='feed_col'>
    <div class='white_box'>
      <h2>LATEST QUESTIONS</h2>
      <p><img src='/img/before_optim/turtle.jpg' style='width: 6rem;'>plop</p>
    </div>


    <div class='white_box'>
      <h2>FEATURED PHOTOS</h2>
      <div class='nine_pic_block'>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
        <div style='background-image: url("/img/before_optim/turtle.jpg")'></div>
      </div>
    </div>
  </div>


  <br/>
</div>






<p style='margin-top: 200px;'>bottom</p>