  <div class="main_info" align="left">
    <div>
      We're undergoing a study with the Affective Science Laboratory about how divers feel while diving.
      <br/>
      This question is fr from being simple and a propper mapping has never been done. This study could lead to plenty new oportunities and applications for Scuba diving.
      <br/>
      We need your help on this - please fill in this survey and share in with your scuba friends:
      <br/>
      <center><a href="http://surveys.actvt.com:8080/orbeon/fr/Emotion_Research/scuba_emotions/new" class="yellow_button">TAKE THE SURVEY</a></center>
      <br/>
      It shouldn't take you more than 5 minutes and we need at least a few hundred samples at this stage so we really need your help.
      <br/>
      Thanks a lot for your help !
    </div>    
    <br/>
  </div>