@import "mixins";

$mobile_screen: 480px;
$small_screen: 48em;
$medium_screen: 66em;
$home-width: 1060px;

$orange-db: #FDBF30;
$grey: #EEE;
$background-gray: #f6f6f6;

$yellow-db: #FDC90C;
$dark-gray-db: #3C4245;
$mid-gray-db: #a5a5a5;
$light-gray-db: #dfdfdf;
$red-db: #F45B26;
$light-blue-db: #00ABB7;
$mid-blue-db: #00818A;
$navy-blue-db: #004568;
$link-blue-db: #006699;
$green-db: #1dbc33;
$brown-light: #f9f6ee;